<?xml version="1.0"?>
<config>
    <modules>
        <AW_ARUnitSalesbypaymenttype>
            <version>1.0.4</version><platform>ce</platform>
        </AW_ARUnitSalesbypaymenttype>
    </modules>
    <global>
        <helpers>
            <awunitsalesbypaymenttype>
                    <class>AW_Advancedreports_Helper</class>
            </awunitsalesbypaymenttype>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <AW_ARUnitSalesbypaymenttype>
                    <files>
                        <default>AW_Advancedreports.csv</default>
                    </files>
                </AW_ARUnitSalesbypaymenttype>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <advancedreports>
                                    <title>Advanced</title>
                                    <children>
                                        <salesbypaymenttype>
                                            <title>Sales by Payment Type</title>
                                        </salesbypaymenttype>
                                    </children>
                                </advancedreports>
                            </children>
                        </report>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <report>
                <children>
                    <advancedreports translate="title" module="advancedreports">
                        <title>Advanced</title>
                        <sort_order>100</sort_order>
                        <children>
                            <salesbypaymenttype module="advancedreports" translate="title">
                                <title>Sales by Payment Type</title>
                                <action>advancedreports_admin/additional_report/index/name/salesbypaymenttype</action>
                                <sort_order>30</sort_order>
                            </salesbypaymenttype>
                        </children>
                    </advancedreports>
                </children>
            </report>
        </menu>
    </adminhtml>
</config>
