<?xml version="1.0" ?>
<config>
	<modules>
		<Itoris_GroupedProductConfiguration>
			<version>1.0.18</version>
		</Itoris_GroupedProductConfiguration>
	</modules>
	<global>
		<blocks>
			<itoris_groupedproductconfiguration>
				<class>Itoris_GroupedProductConfiguration_Block</class>
			</itoris_groupedproductconfiguration>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tab_super_group>Itoris_GroupedProductConfiguration_Block_Admin_Product_Edit_Tab_Super_Group</catalog_product_edit_tab_super_group>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<itoris_groupedproductconfiguration>
				<class>Itoris_GroupedProductConfiguration_Helper</class>
			</itoris_groupedproductconfiguration>
		</helpers>
		<models>
			<itoris_groupedproductconfiguration>
				<class>Itoris_GroupedProductConfiguration_Model</class>
			</itoris_groupedproductconfiguration>
			<catalog>
				<rewrite>
					<product_type_grouped>Itoris_GroupedProductConfiguration_Model_Product_Type_Grouped</product_type_grouped>
                    <resource_product_indexer_price_grouped>Itoris_GroupedProductConfiguration_Model_Product_Indexer_Price_Grouped</resource_product_indexer_price_grouped>
				</rewrite>
			</catalog>
            <catalog_resource>
                <rewrite>
                    <product_indexer_price_grouped>Itoris_GroupedProductConfiguration_Model_Product_Indexer_Price_Grouped</product_indexer_price_grouped>
                </rewrite>
            </catalog_resource>
            <cataloginventory>
                <rewrite>
                    <resource_indexer_stock_grouped>Itoris_GroupedProductConfiguration_Model_Product_Indexer_Stock_Grouped</resource_indexer_stock_grouped>
                </rewrite>
            </cataloginventory>
            <cataloginventory_resource>
                <rewrite>
                    <indexer_stock_grouped>Itoris_GroupedProductConfiguration_Model_Product_Indexer_Stock_Grouped</indexer_stock_grouped>
                </rewrite>
            </cataloginventory_resource>
		</models>
		<resources>
			<itoris_groupedproductconfiguration_setup>
				<setup>
					<module>Itoris_GroupedProductConfiguration</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</itoris_groupedproductconfiguration_setup>
			<itoris_groupedproductconfiguration_write>
				<connection><use>core_write</use></connection>
			</itoris_groupedproductconfiguration_write>
			<itoris_groupedproductconfiguration_read>
				<connection><use>core_read</use></connection>
			</itoris_groupedproductconfiguration_read>
		</resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <itoris_groupedproductconfiguration>
                        <type>singleton</type>
                        <class>itoris_groupedproductconfiguration/observer</class>
                        <method>saveProduct</method>
                    </itoris_groupedproductconfiguration>
                </observers>
            </catalog_product_save_after>
        </events>
	</global>
	<admin>
		<routers>
			<itoris_groupedproductconfiguration>
				<use>admin</use>
				<args>
					<module>Itoris_GroupedProductConfiguration</module>
					<frontName>itoris_groupedproductconfiguration</frontName>
				</args>
			</itoris_groupedproductconfiguration>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<itoris_groupedproductconfiguration>
					<file>itoris_groupedproductconfiguration.xml</file>
				</itoris_groupedproductconfiguration>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_GroupedProductConfiguration>
					<files>
						<default>Itoris_GroupedProductConfiguration.csv</default>
					</files>
				</Itoris_GroupedProductConfiguration>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<routers>
			<groupedproductconfiguration>
				<use>standard</use>
				<args>
					<module>Itoris_GroupedProductConfiguration</module>
					<frontName>groupedproductconfiguration</frontName>
				</args>
			</groupedproductconfiguration>
		</routers>
		<layout>
			<updates>
				<itoris_groupedproductconfiguration>
					<file>itoris_groupedproductconfiguration.xml</file>
				</itoris_groupedproductconfiguration>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_GroupedProductConfiguration>
					<files>
						<default>Itoris_GroupedProductConfiguration.csv</default>
					</files>
				</Itoris_GroupedProductConfiguration>
			</modules>
		</translate>
	</frontend>
</config>