<?xml version="1.0"?>
<config>
    <modules>
        <Drieworks_EmailAttachments>
            <version>0.8.3</version>
            <depends>
            </depends>
        </Drieworks_EmailAttachments>
    </modules>

    <global>
        <models>
            <emailattachments>
                <class>Drieworks_EmailAttachments_Model</class>
            </emailattachments>
            <core>
                <rewrite>
                    <email_template_mailer>Drieworks_EmailAttachments_Model_Core_Email_Template_Mailer</email_template_mailer>
                </rewrite>
            </core>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Drieworks_EmailAttachments_Block_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <pdf>
            <order>
                <default>sales/order_pdf_items_invoice_default</default>
                <grouped>sales/order_pdf_items_invoice_grouped</grouped>
            </order>
        </pdf>
        <helpers>
            <emailattachments>
                <class>Drieworks_EmailAttachments_Helper</class>
            </emailattachments>
        </helpers>
        <events>
            <drieworks_emailattachments_before_send_order>
                <observers>
                    <drieworks_emailattachments_before_send_order>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>beforeSendOrder</method>
                    </drieworks_emailattachments_before_send_order>
                </observers>
            </drieworks_emailattachments_before_send_order>
            <drieworks_emailattachments_before_send_invoice>
                <observers>
                    <drieworks_emailattachments_before_send_invoice>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>beforeSendInvoice</method>
                    </drieworks_emailattachments_before_send_invoice>
                </observers>
            </drieworks_emailattachments_before_send_invoice>
            <drieworks_emailattachments_before_send_shipment>
                <observers>
                    <drieworks_emailattachments_before_send_shipment>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>beforeSendShipment</method>
                    </drieworks_emailattachments_before_send_shipment>
                </observers>
            </drieworks_emailattachments_before_send_shipment>
            <drieworks_emailattachments_before_send_creditmemo>
                <observers>
                    <drieworks_emailattachments_before_send_creditmemo>
                        <type>singleton</type>
                        <class>emailattachments/observer</class>
                        <method>beforeSendCreditmemo</method>
                    </drieworks_emailattachments_before_send_creditmemo>
                </observers>
            </drieworks_emailattachments_before_send_creditmemo>
        </events>
		
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <addbutton>
                        <type>singleton</type>
                        <class>Drieworks_EmailAttachments_Model_Observer</class>
                        <method>addbutton</method>
                    </addbutton>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
        <translate>
            <modules>
                <Drieworks_EmailAttachments>
                    <files>
                        <default>Drieworks_EmailAttachments.csv</default>
                    </files>
                </Drieworks_EmailAttachments>
            </modules>
        </translate>
    </adminhtml>


    <admin>
        <routers>
            <emailattachments>
                <use>admin</use>
                <args>
                    <module>Drieworks_EmailAttachments</module>
                    <frontName>emailattachments</frontName>
                </args>
            </emailattachments>
        </routers>
    </admin>

    <default>
        <sales_email>
            <order>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </order>
            <order_comment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </order_comment>
            <invoice>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </invoice>
            <invoice_comment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </invoice_comment>
            <shipment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </shipment>
            <shipment_comment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </shipment_comment>
            <creditmemo>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </creditmemo>
            <creditmemo_comment>
                <attachpdf>0</attachpdf>
                <attachagreement>0</attachagreement>
            </creditmemo_comment>
        </sales_email>
    </default>
    <crontab>
        <jobs>
            <emailattachments_updates>
                <schedule><cron_expr>* */8 * * *</cron_expr></schedule>
                <run><model>emailattachments/updates::checkUpdate</model></run>
            </emailattachments_updates>
        </jobs>
    </crontab>
</config>