<?xml version="1.0"?>
<config>
    <modules>
        <MageWare_SalesGrids>
            <version>1.1.0.0</version>
        </MageWare_SalesGrids>
    </modules>
    <global>
        <models>
            <salesgrids>
                <class>MageWare_SalesGrids_Model</class>
                <resourceModel>salesgrids_resource</resourceModel>
            </salesgrids>
            <salesgrids_resource>
                <class>MageWare_SalesGrids_Model_Resource</class>
            </salesgrids_resource>
            <sales_resource>
                <rewrite>
                    <order>MageWare_SalesGrids_Model_Resource_Order</order>
                    <order_invoice>MageWare_SalesGrids_Model_Resource_Order_Invoice</order_invoice>
                    <order_shipment>MageWare_SalesGrids_Model_Resource_Order_Shipment</order_shipment>
                    <order_creditmemo>MageWare_SalesGrids_Model_Resource_Order_Creditmemo</order_creditmemo>
                </rewrite>
            </sales_resource>
        </models>
        <resources>
            <salesgrids_setup>
                <setup>
                    <module>MageWare_SalesGrids</module>
                    <class>MageWare_SalesGrids_Model_Resource_Setup</class>
                </setup>
            </salesgrids_setup>
        </resources>
        <blocks>
            <salesgrids>
                <class>MageWare_SalesGrids_Block</class>
            </salesgrids>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>MageWare_SalesGrids_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_invoice_grid>MageWare_SalesGrids_Block_Adminhtml_Sales_Invoice_Grid</sales_invoice_grid>
                    <sales_shipment_grid>MageWare_SalesGrids_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
                    <sales_creditmemo_grid>MageWare_SalesGrids_Block_Adminhtml_Sales_Creditmemo_Grid</sales_creditmemo_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <salesgrids>
                <class>MageWare_SalesGrids_Helper</class>
            </salesgrids>
        </helpers>
        <events>
            <sales_order_resource_init_virtual_grid_columns>
                <observers>
                    <salesgrids_order_init_virtual_grid_columns>
                        <class>salesgrids/observer</class>
                        <type>singleton</type>
                        <method>initOrderGridColumns</method>
                    </salesgrids_order_init_virtual_grid_columns>
                </observers>
            </sales_order_resource_init_virtual_grid_columns>
            <sales_order_invoice_resource_init_virtual_grid_columns>
                <observers>
                    <salesgrids_order_invoice_init_virtual_grid_columns>
                        <class>salesgrids/observer</class>
                        <type>singleton</type>
                        <method>initOrderInvoiceGridColumns</method>
                    </salesgrids_order_invoice_init_virtual_grid_columns>
                </observers>
            </sales_order_invoice_resource_init_virtual_grid_columns>
            <sales_order_shipment_resource_init_virtual_grid_columns>
                <observers>
                    <salesgrids_order_shipment_init_virtual_grid_columns>
                        <class>salesgrids/observer</class>
                        <type>singleton</type>
                        <method>initOrderShipmentGridColumns</method>
                    </salesgrids_order_shipment_init_virtual_grid_columns>
                </observers>
            </sales_order_shipment_resource_init_virtual_grid_columns>
            <sales_order_creditmemo_resource_init_virtual_grid_columns>
                <observers>
                    <salesgrids_order_creditmemo_init_virtual_grid_columns>
                        <class>salesgrids/observer</class>
                        <type>singleton</type>
                        <method>initOrderCreditmemoGridColumns</method>
                    </salesgrids_order_creditmemo_init_virtual_grid_columns>
                </observers>
            </sales_order_creditmemo_resource_init_virtual_grid_columns>
        </events>
    </global>
    <default>
        <admin>
            <order>
                <enabled>0</enabled>
                <columns>increment_id,store_id,created_at,billing_name,shipping_name,base_grand_total,grand_total,status,action</columns>
            </order>
            <invoice>
                <enabled>0</enabled>
                <columns>increment_id,created_at,order_increment_id,order_created_at,billing_name,state,grand_total,action</columns>
            </invoice>
            <shipment>
                <enabled>0</enabled>
                <columns>increment_id,created_at,order_increment_id,order_created_at,shipping_name,total_qty,action</columns>
            </shipment>
            <creditmemo>
                <enabled>0</enabled>
                <columns>increment_id,created_at,order_increment_id,order_created_at,billing_name,state,grand_total,action</columns>
            </creditmemo>
        </admin>
    </default>
</config>
