# ALLOW USER BY IP
<Limit GET POST>
 order deny,allow
 deny from all
 allow from 209.169.143.82
allow from 206.172.19.34
allow from 24.114.88.93
</Limit>


<IfModule mod_deflate.c>

    RemoveOutputFilter DEFLATE
    RemoveOutputFilter GZIP

</IfModule>

<Files ~ "\.(cfg|ini|xml)$">
    order allow,deny
    deny from all
</Files> 