<?xml version="1.0"?>
<config>
    <modules>
        <SM_XPos>
            <version>1.0.7</version>
        </SM_XPos>
    </modules>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>sm</default>
                </theme>
            </design>
        </admin>
    </stores>
    <global>
        <helpers>
            <xpos>
                <class>SM_XPos_Helper</class>
            </xpos>
        </helpers>
        <blocks>
            <xpos>
                <class>SM_XPos_Block</class>
            </xpos>
            <payment>
                <rewrite>
                    <form_cc>SM_XPos_Block_Payment_Cc</form_cc>
                    <info_ccsave>SM_XPos_Block_Payment_Info_Ccsave</info_ccsave>
                </rewrite>
            </payment>
            <adminhtml>
                <rewrite>
                    <catalog_product_composite_configure>SM_XPos_Block_Adminhtml_Override_Configure</catalog_product_composite_configure>
                    <!--<sales_order_totals>SM_XPos_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>-->
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <xpos>
                <class>SM_XPos_Model</class>
                <resourceModel>xpos_resource</resourceModel>
            </xpos>
            <xpos_resource>
                <class>SM_XPos_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>sm_transaction</table>
                    </transaction>
                    <user>
                        <table>sm_xpos_user</table>
                    </user>
                    <till>
                        <table>sm_till</table>
                    </till>
                    <report>
                        <table>sm_endday_report</table>
                    </report>
                    <denomination>
                        <table>sm_denomination</table>
                    </denomination>
                </entities>
            </xpos_resource>
            <paygate>
                <rewrite>
                    <authorizenet>SM_XPos_Model_Authorize_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
            <authorizenet>
                <rewrite>
                    <directpost_request>SM_XPos_Model_Directpost_Request</directpost_request>
                </rewrite>
            </authorizenet>
            <enterprise_giftcardaccount>
                <rewrite>
                    <observer>SM_XPos_Model_GiftCardAccount_Observer</observer>
                </rewrite>
            </enterprise_giftcardaccount>
            <sales>
                <rewrite>
                    <order_invoice_total_discount>SM_XPos_Model_Sales_Order_Invoice_Total_Discount</order_invoice_total_discount>
                </rewrite>
            </sales>
        </models>
        <resources>
            <xpos_setup>
                <setup>
                    <module>SM_XPos</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xpos_setup>
            <xpos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xpos_write>
            <xpos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xpos_read>
        </resources>
        <events>
            <!--UPDATE XPOS-->
            <checkout_cart_product_add_after>
                <observers>
                    <reseauchx_reservationreseau_valid_cart>
                        <type>singleton</type>
                        <class>reseauchx_reservationreseau/observer</class>
                        <method>checkCartAdd</method>
                    </reseauchx_reservationreseau_valid_cart>
                </observers>
            </checkout_cart_product_add_after>
			<!--  Eric:  -->
			<sales_order_place_before>
			<observers>
            		<reseauchx_reservationreseau_save_order>
            			<type>singleton</type>
            			<class>reseauchx_reservationreseau/observer</class>
            			<method>validateReservationOptions</method>
            		</reseauchx_reservationreseau_save_order>
            	</observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <reseauchx_reservationreseau_save_order>
                        <type>singleton</type>
                        <class>reseauchx_reservationreseau/observer</class>
                        <method>confirmeReservationOptions</method>
                    </reseauchx_reservationreseau_save_order>
                </observers>
            </sales_order_place_after>
            <!--END-->

            <admin_system_config_changed_section_xpos>
                <observers>
                    <mymodule>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>handle_adminSystemConfigChangedSection</method>
                    </mymodule>
                </observers>
            </admin_system_config_changed_section_xpos>

            <controller_action_layout_load_before>
                <observers>
                    <sm_xpos_check_update>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>getDataFromServer</method>
                    </sm_xpos_check_update>
                </observers>
            </controller_action_layout_load_before>

            <model_config_data_save_before>
                <observers>
                    <sm_xpos_check_save>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>checkSaveConfig</method>
                    </sm_xpos_check_save>
                </observers>
            </model_config_data_save_before>
            <admin_system_config_changed_section_xpos>
                <observers>
                    <sm_core_init_service>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>refreshStatus</method>
                    </sm_core_init_service>

                    <sm_style_printing_save_service>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>styleChanging</method>
                    </sm_style_printing_save_service>
                </observers>
            </admin_system_config_changed_section_xpos>

            <sales_order_save_before>
                <observers>
                    <xpos_sales_order_after_save>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>orderSaveAfter</method>
                    </xpos_sales_order_after_save>
                </observers>
            </sales_order_save_before>


<checkout_cart_product_add_after>
                <observers>
                    <reseauchx_reservationreseau_valid_cart>
                    	<type>singleton</type>
                        <class>reseauchx_reservationreseau/observer</class>
                        <method>checkCartAdd</method>
                    </reseauchx_reservationreseau_valid_cart>
                </observers>
            </checkout_cart_product_add_after>
			
            <sales_order_place_after>
            	<observers>
            		<reseauchx_reservationreseau_save_order>
            			<type>singleton</type>
            			<class>reseauchx_reservationreseau/observer</class>
            			<method>confirmeReservationOptions</method>
            		</reseauchx_reservationreseau_save_order>
            	</observers>
            </sales_order_place_after>


            <sales_order_invoice_save_after>
                <observers>
                    <xpos_sales_invoice_after_save>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>invoiceSaveAfter</method>
                    </xpos_sales_invoice_after_save>
                </observers>
            </sales_order_invoice_save_after>

            <controller_action_predispatch_adminhtml_report_statistics_refreshLifetime>
                <observers>
                    <xpos_report_statistics_refreshLifetime>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>refreshLifetime</method>
                    </xpos_report_statistics_refreshLifetime>
                </observers>
            </controller_action_predispatch_adminhtml_report_statistics_refreshLifetime>

            <controller_action_predispatch_adminhtml_report_statistics_refreshRecent>
                <observers>
                    <xpos_report_statistics_refreshRecent>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>refreshLifetime</method>
                    </xpos_report_statistics_refreshRecent>
                </observers>
            </controller_action_predispatch_adminhtml_report_statistics_refreshRecent>

            <core_collection_abstract_load_before>
                <observers>
                    <sm_xpos>
                        <type>singleton</type>
                        <class>xpos/discount_observer</class>
                        <method>coreCollectionAbstractLoadBefore</method>
                    </sm_xpos>
                </observers>
            </core_collection_abstract_load_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sm_xpos before="Mage_Adminhtml">SM_XPos_Adminhtml</sm_xpos>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <xpos module="xpos">
                        <title>POS</title>
                        <children>
                            <mainxpos translate="title" module="xpos">
                                <title>Open X-POS</title>
                                <action>adminhtml/xpos</action>
                            </mainxpos>
                            <cashier translate="title" module="xpos">
                                <title>Manage Cashiers</title>
                                <action>adminhtml/cashier</action>
                            </cashier>
                            <till translate="title" module="xpos">
                                <title>Manage Tills</title>
                                <action>adminhtml/till</action>
                            </till>
                            <settingxpos translate="title" module="xpos">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/xpos</action>
                            </settingxpos>
                        </children>
                    </xpos>
                </children>
            </sales>
            <report>
                <children>
                    <salesroot>
                        <children>
                            <pos>
                                <title>POS</title>
                                <children>
                                    <eodreport translate="title" module="xpos">
                                        <title>Till reports (Z-reports)</title>
                                        <action>adminhtml/report/eodreport</action>
                                    </eodreport>
                                    <salesreport translate="title" module="xpos">
                                        <title>Sales Reports</title>
                                        <action>adminhtml/report/xpos</action>
                                    </salesreport>

                                </children>

                            </pos>
                        </children>
                    </salesroot>
                </children>
            </report>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <xpos>
                                    <title>SmartOSC</title>
                                    <children>
                                        <mainxpos>
                                            <title>SmartOSC X-POS</title>
                                        </mainxpos>
                                        <cashier translate="title">
                                            <title>Manage Cashiers</title>
                                        </cashier>
                                        <till translate="title">
                                            <title>Manage Tills</title>
                                        </till>
                                        <settingxpos translate="title">
                                            <title>Settings</title>
                                        </settingxpos>
                                    </children>
                                </xpos>
                            </children>
                        </sales>
                        <report>
                            <children>
                                <salesroot>
                                    <children>
                                        <pos>
                                            <title>POS</title>
                                            <children>
                                                <eodreport translate="title">
                                                    <title>Till reports (Z-reports)</title>
                                                </eodreport>
                                                <salesreport translate="title">
                                                    <title>Sales Reports</title>
                                                </salesreport>
                                            </children>
                                        </pos>
                                    </children>
                                </salesroot>
                            </children>
                        </report>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <xpos>
                                            <title>X-POS Module Option</title>
                                        </xpos>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <SM_XPos>
                    <files>
                        <default>SM_XPos.csv</default>
                    </files>
                </SM_XPos>
            </modules>
        </translate>
        <layout>
            <updates>
                <xpos>
                    <file>xpos.xml</file>
                </xpos>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <xpos>
            <general>
                <enabled>0</enabled>
                <onfly_discount>1</onfly_discount>
                <printcashtransfer>0</printcashtransfer>
                <enabled_cashier>0</enabled_cashier>
                <enabled_auto_logout>0</enabled_auto_logout>
                <login_time_out>8000</login_time_out>
                <create_invoice_display>1</create_invoice_display>
                <create_invoice>1</create_invoice>
                <create_shipment_display>1</create_shipment_display>
                <create_shipment>1</create_shipment>
            </general>
            <search>
                <offlinesearch>1</offlinesearch>
                <offlinesearch_customer>0</offlinesearch_customer>
                <searching_by>entity_id,name,sku</searching_by>
                <searching_product_types>simple</searching_product_types>
                <searching_status>1</searching_status>
                <searching_product_visibility>2,3,4</searching_product_visibility>
                <additional_field>sku</additional_field>
                <lucky_search>1</lucky_search>
                <number_result>50</number_result>
            </search>
            <offline>
                <offline_mode>0</offline_mode>
                <data_load_interval>20</data_load_interval>
                <data_reload_interval>3600</data_reload_interval>
                <network_check_interval>3000</network_check_interval>
                <cust_per_request>300</cust_per_request>
                <prod_per_request>200</prod_per_request>
            </offline>
            <!--<guest>
                <guest_name>X-POS Guest</guest_name>
                <guest_street>Guest Street</guest_street>
                <guest_city>Guest City</guest_city>
                <country_id>US</country_id>
                <region_id>12</region_id>
                <guest_postal_code>95064</guest_postal_code>
                <guest_phone>0123456789</guest_phone>
            </guest>-->
            <receipt>
                <style_for_printing_invoice>80mm</style_for_printing_invoice>
                <print_receipt>1</print_receipt>
                <email_receipt>0</email_receipt>
            </receipt>
            <report>
                <enable_zreport>1</enable_zreport>
                <admin_zreport>1</admin_zreport>
                <enable_xreport>1</enable_xreport>
                <admin_xreport>1</admin_xreport>
                <enable_linkreport>1</enable_linkreport>
                <admin_linkreport>0</admin_linkreport>
                <default_transfer>0</default_transfer>
            </report>
            <customize>
                <color_banner>1588D8</color_banner>
                <color_text>EE7600</color_text>
            </customize>
        </xpos>
    </default>
</config> 
