<?xml version="1.0"?>
<config>
    <modules>
        <Peexl_Ajaxcart>
            <version>1.0.0</version>
        </Peexl_Ajaxcart>
    </modules>
    <global>
        <models>
            <peexl_ajaxcart>
                <class>Peexl_Ajaxcart_Model</class>
                <resourceModel>ajaxcart_mysql4</resourceModel>
            </peexl_ajaxcart>
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>Peexl_Ajaxcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcart_setup>
            <ajaxcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcart_write>
            <ajaxcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcart_read>
        </resources>
        <helpers>
            <peexl_ajaxcart>
                <class>Peexl_Ajaxcart_Helper</class>
            </peexl_ajaxcart>
        </helpers>
        <events>
            <controller_action_postdispatch_checkout_cart_add>
                <observers>
                    <peexl_ajaxcart>
                        <type>singleton</type>
                        <class>peexl_ajaxcart/observer</class>
                        <method>addToCart</method>
                    </peexl_ajaxcart>
                </observers>
            </controller_action_postdispatch_checkout_cart_add>		
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <peexl_ajaxcart>
                        <type>singleton</type>
                        <class>peexl_ajaxcart/observer</class>
                        <method>addOptions</method>
                    </peexl_ajaxcart>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
            <controller_action_postdispatch_bundlecreatorplus_product_view>
                <observers>
                    <peexl_ajaxcart>
                        <type>singleton</type>
                        <class>peexl_ajaxcart/observer</class>
                        <method>addOptions</method>
                    </peexl_ajaxcart>
                </observers>
            </controller_action_postdispatch_bundlecreatorplus_product_view>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <peexl_ajaxcart>
                        <type>singleton</type>
                        <class>peexl_ajaxcart/observer</class>
                        <method>predispatchCheckoutCartAdd</method>
                    </peexl_ajaxcart>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <peexl_ajaxcart>
                    <file>peexl_ajaxcart.xml</file>
                </peexl_ajaxcart>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <peexl_ajaxcart>
                            <title>Peexl AjaxCart Module</title>
                            <sort_order>10</sort_order>
                        </peexl_ajaxcart>
					
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxcart_cfg translate="title" module="ajaxcart">
                                            <title>Peexl Ajax for Extended Bundle</title>
                                        </ajaxcart_cfg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ajaxcart_cfg>
            <general>
                <enable>0</enable>
            </general>
        </ajaxcart_cfg>
    </default>
</config>