<?xml version="1.0"?>
<config>
    <modules>
        <Benova_ToolboxDesigner>
            <version>1.0.0</version>
        </Benova_ToolboxDesigner>
    </modules>
    <global>
        <blocks>
            <toolbox>
                <class>Benova_ToolboxDesigner_Block</class>
            </toolbox>
<!--             <bundle>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_bundle_option_selection>Benova_ToolboxDesigner_Block_Bundle_Option_Selection</adminhtml_catalog_product_edit_tab_bundle_option_selection>
                </rewrite>
            </bundle>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit>Benova_ToolboxDesigner_Block_Adminhtml_Override</catalog_product_edit>
                </rewrite>
            </adminhtml>
 -->        </blocks>
        <helpers>
            <toolbox>
                <class>Benova_ToolboxDesigner_Helper</class>
            </toolbox>
        </helpers>
        <models>
            <toolbox>
                <class>Benova_ToolboxDesigner_Model</class>
                <resourceModel>benova_toolbox_resource</resourceModel>
            </toolbox>
            <benova_toolbox_resource>
                <class>Benova_ToolboxDesigner_Model_Resource</class>
                <entities>
                    <trajetw>
                        <table>reseauchx_trajets_widget</table>
                    </trajetw>
                    <trajet>
                        <table>reseauchx_trajets</table>
                    </trajet>
                    <trajetd>
                        <table>reseauchx_trajets_date</table>
                    </trajetd>
                    <trajetc>
                        <table>reseauchx_trajets_complet</table>
                    </trajetc>
                </entities>
            </benova_toolbox_resource>
        </models>
       
    </global>
    <frontend>
		<events>
            <checkout_cart_product_add_after>
                <observers>
                    <catalogrule>
                        <class>Benova_ToolboxDesigner_Model_Observer</class>
                        <method>processFrontFinalPrice</method>
                    </catalogrule>
                </observers>
            </checkout_cart_product_add_after>
        </events>
        <routers>
            <toolbox>
                <use>standard</use>
                <args>
                    <module>Benova_ToolboxDesigner</module>
                    <frontName>toolbox-designer</frontName>
                </args>
            </toolbox>
        </routers>
        <translate>
            <modules>
                <Benova_ToolboxDesigner>
                    <files>
                        <default>Benova_ToolboxDesigner.csv</default>
                    </files>
                </Benova_ToolboxDesigner>
            </modules>
        </translate>
        <layout>
            <updates>
                <toolbox>
                    <file>benova_toolbox_designer.xml</file>
                </toolbox>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <benova_toolboxdesigner before="Mage_Adminhtml">Benova_ToolboxDesigner_Adminhtml</benova_toolboxdesigner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>

        <layout>
            <updates>
                <toolbox>
                    <file>benova_toolbox_designer.xml</file>
                </toolbox>
            </updates>
        </layout>
    </adminhtml>
</config>