<?xml version="1.0"?>
<config>
    <modules>
       <Mage_Optimalpayments>
          <version>0.1.0</version>
       </Mage_Optimalpayments>
    </modules>
 
    <global>
<!-- declare model group for new module -->
        <models>
<!-- model group alias to be used in Mage::getModel('optimalpayments/...') -->
            <optimalpayments>
<!-- base class name for the model group -->
                <class>Mage_Optimalpayments_Model</class>
            </optimalpayments>
        </models>
 
<!-- declare resource setup for new module -->
        <resources>
<!-- resource identifier -->
            <optimalpayments_setup>
<!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
<!-- which module to look for install/upgrade files in -->
                    <module>Mage_Optimalpayments</module>
                </setup>
<!-- specify database connection for this resource -->
                <connection>
<!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </optimalpayments_setup>
            <optimalpayments_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </optimalpayments_write>
            <optimalpayments_read>
               <connection>
                <use>core_read</use>
              </connection>
            </optimalpayments_read>
        </resources>
    </global>
 
<!-- declare default configuration values for this module -->
    <default>
<!-- 'payment' configuration section (tab) -->
        <payment>
<!-- 'optimalpayments' configuration group (fieldset) -->
            <optimalpayments>
<!-- by default this payment method is inactive -->
                <active>0</active>
<!-- model to handle logic for this payment method -->
                <model>optimalpayments/paymentMethod</model>
<!-- order status for new orders paid by this payment method -->
                <order_status>1</order_status>
<!-- default title for payment checkout page and order view page -->
                <title>Credit Card (Optimalpayments.com)</title>
 
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </optimalpayments>
         </payment>
    </default>
</config>