<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
        <VDesign_BookmePro>
            <version>1.0.10</version>
        </VDesign_BookmePro>
    </modules>
    <global>
        <helpers>
            <bookmepro>
                <class>VDesign_BookmePro_Helper</class>
            </bookmepro>
            <bookme>
            	<rewrite>
            		<availible>VDesign_BookmePro_Helper_Availible</availible>
            	</rewrite>
            </bookme>
        </helpers>
 		<blocks>
            <bookmepro>
                <class>VDesign_BookmePro_Block</class>
            </bookmepro>
            <bookme>
            	<rewrite>
            		<adminhtml_catalog_product_edit_tab_price_rule>VDesign_BookmePro_Block_Adminhtml_Catalog_Product_Edit_Tab_Price_Rule</adminhtml_catalog_product_edit_tab_price_rule>
            		<adminhtml_catalog_product_edit_tab_options_type_multidate>VDesign_BookmePro_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Type_Multidate</adminhtml_catalog_product_edit_tab_options_type_multidate>
            		<adminhtml_catalog_product_edit_tab_customsession>VDesign_BookmePro_Block_Adminhtml_Catalog_Product_Edit_Tab_Customsession</adminhtml_catalog_product_edit_tab_customsession>
            		<adminhtml_book_grid>VDesign_BookmePro_Block_Adminhtml_Book_Grid</adminhtml_book_grid>
            	</rewrite>
            </bookme>
        </blocks>
        <models>
        	<bookme>
        		<rewrite>
        			<product_type_booking_price>VDesign_BookmePro_Model_Product_Type_Booking_Price</product_type_booking_price>
        			<product_attribute_backend_customsession>VDesign_BookmePro_Model_Product_Attribute_Backend_Customsession</product_attribute_backend_customsession>
        			<product_attribute_backend_pricerule>VDesign_BookmePro_Model_Product_Attribute_Backend_Pricerule</product_attribute_backend_pricerule>
        			<observer>VDesign_BookmePro_Model_Observer</observer>
        			<attributes>VDesign_BookmePro_Model_Attributes</attributes>
        			<catalog_product_option_type_multidate>VDesign_BookmePro_Model_Catalog_Product_Option_Type_Multidate</catalog_product_option_type_multidate>
        		</rewrite>
        	</bookme>
        	<bookme_resource>
        		<rewrite>
        			<book_item_collection>VDesign_BookmePro_Model_Resource_Book_Item_Collection</book_item_collection>
        		</rewrite>
        	</bookme_resource>
        	<bookmepro>
            	<class>VDesign_BookmePro_Model</class>
            	<resourceModel>bookmepro_resource</resourceModel>
            </bookmepro>	
            <bookmepro_resource>
       			 <class>VDesign_BookmePro_Model_Resource</class>
        			<entities>
        				<session>
        					<table>bookmepro_session</table>
        				</session>
                        <book_mailreminder>
                        	<table>bookmepro_mailreminder</table>
                        </book_mailreminder>
                        <book_mailreminder_preparation>
                        	<table>bookmepro_mailreminder_preparation</table>
                        </book_mailreminder_preparation>
                        <priceprofile>
                        	<table>bookmepro_priceprofile</table>
                        </priceprofile>
                        <priceprofile_store>
                            <table>bookmepro_priceprofile_store</table>
                        </priceprofile_store>
        			</entities>
    		</bookmepro_resource>
    	</models>
    	<pdf>
            <invoice>
                <booking>bookmepro/sales_order_pdf_items_invoice</booking>
            </invoice>
            <creditmemo>
                <booking>bookmepro/sales_order_pdf_items_creditmemo</booking>
            </creditmemo>
            <shipment>
                <booking>bookmepro/sales_order_pdf_items_invoice</booking>
            </shipment>
        </pdf>
    	<resources>
            <bookmepro_setup>
                <setup>
                    <module>VDesign_BookmePro</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </bookmepro_setup>
        </resources>
        <template>
            <email>
                <reservation_reminder translate="label" module="bookmepro">
                    <label>Reservation Reminder</label>
                    <file>bookmepro/reservation_reminder.html</file>
                    <type>html</type>
                </reservation_reminder>
            </email>
        </template>
    </global>
    <adminhtml>
    	<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bookmepro_options>
                                            <title>BookmePro locale module settings</title>
                                        </bookmepro_options>
                                        <bookmepro_sales>
                                        	<title>Bookme sales module settings</title>
                                        </bookmepro_sales>
                                        <bookmepro_reminder>
                                        	<title>Bookme reminder module settings</title>
                                        </bookmepro_reminder>
                                        <bookmepro_scheduler>
                                        	<title>Bookme schedule module settings</title>
                                        </bookmepro_scheduler>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    	<layout>
            <updates>
                <bookme>
                    <file>vdesign_bookmepro.xml</file>
                </bookme>
            </updates>
        </layout>
        <events>
        	<sales_order_invoice_save_after>
        		<observers>
            		<vdesign_bookmepro_registerreminder>
            			<type>singleton</type>
            			<class>bookmepro/observer</class>
            			<method>registerReminder</method>
            		</vdesign_bookmepro_registerreminder>
            	</observers>
        	</sales_order_invoice_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <bookmepro>
                <use>admin</use>
                <args>
                    <module>VDesign_BookmePro</module>
                    <frontName>bookmepro</frontName>
                </args>
            </bookmepro>
        </routers>
    </admin>
     <frontend>
    	<layout>
            <updates>
                <bookmepro>
                    <file>vdesign_bookmepro.xml</file>
                </bookmepro>
            </updates>
        </layout>
        <events>
        	<sales_order_invoice_save_after>
        		<observers>
            		<vdesign_bookmepro_registerreminder>
            			<type>singleton</type>
            			<class>bookmepro/observer</class>
            			<method>registerReminder</method>
            		</vdesign_bookmepro_registerreminder>
            	</observers>
        	</sales_order_invoice_save_after>
        </events>
        <routers>
        	<bookmepro>
                <use>standard</use>
                <args>
                    <module>VDesign_BookmePro</module>
                    <frontName>bookmepro_calendar</frontName>
                </args>
            </bookmepro>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <bookmepro_reminder>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bookmepro/observer::sendreminders</model>
                </run>
            </bookmepro_reminder>
            <bookmepro_session_generator>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bookmepro/observer::generateSessions</model>
                </run>
            </bookmepro_session_generator>
            <bookmepro_autocancel>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bookmepro/observer::autoCancel</model>
                </run>
            </bookmepro_autocancel>
        </jobs>
    </crontab>
    <default>
	    <bookmepro_options>
	        <locales>                
	            <start>'Starts At:'</start> 
	            <reset>'Reset'</reset> 
	            <months>['January','February','March','April','May','June','July','August','September','October','November','December']</months> 
	            <week_days_short>['Sun','Mon','Tue','Wed','Thu','Fri','Sat']</week_days_short>
	            <days>days</days>
	            <today>today</today>
	            <days_earlier>days earlier</days_earlier>
	            <days_later>days later</days_later>         
	        </locales>      
	    </bookmepro_options>
	</default>
</config>