<?xml version="1.0"?>
<config>
    <modules>
        <Vianetz_AutomaticInvoice>
            <version>1.0.7</version>
            <depends>
                <Mage_Sales/>
            </depends>
        </Vianetz_AutomaticInvoice>
    </modules>
    <default>
        <automaticinvoice>
            <general>
                <licenses>3:Vianetz_AutomaticInvoice</licenses>
                <invoice_capture_online>0</invoice_capture_online>
                <order_status>processing</order_status>
            </general>
            <invoice>
                <generate_on_order_status>processing</generate_on_order_status>
            </invoice>
            <shipment>
                <generate_on_order_status>processing</generate_on_order_status>
            </shipment>
        </automaticinvoice>
    </default>
    <global>
        <models>
            <automaticinvoice>
                <class>Vianetz_AutomaticInvoice_Model</class>
            </automaticinvoice>
        </models>
        <helpers>
            <automaticinvoice>
                <class>Vianetz_AutomaticInvoice_Helper</class>
            </automaticinvoice>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <vianetz_automaticinvoice_order_observer_invoice>
                        <type>singleton</type>
                        <class>automaticinvoice/order_observer</class>
                        <method>generateInvoice</method>
                    </vianetz_automaticinvoice_order_observer_invoice>
                    <vianetz_automaticinvoice_order_observer_shipment>
                        <type>singleton</type>
                        <class>automaticinvoice/order_observer</class>
                        <method>generateShipment</method>
                    </vianetz_automaticinvoice_order_observer_shipment>
                </observers>
            </sales_order_save_after>
            <sales_order_invoice_pay>
                <observers>
                    <vianetz_automaticinvoice_order_observer_invoice_send_email>
                        <type>singleton</type>
                        <class>automaticinvoice/order_observer</class>
                        <method>sendInvoiceEmail</method>
                    </vianetz_automaticinvoice_order_observer_invoice_send_email>
                </observers>
            </sales_order_invoice_pay>
        </events>
        <blocks>
            <automaticinvoice>
                <class>Vianetz_AutomaticInvoice_Block</class>
            </automaticinvoice>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Vianetz_AutomaticInvoice>
                    <files>
                        <default>Vianetz_AutomaticInvoice.csv</default>
                    </files>
                </Vianetz_AutomaticInvoice>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <automaticinvoice>
                                            <title>Automatic Invoice</title>
                                        </automaticinvoice>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <Vianetz_AutomaticInvoice>
                <use>standard</use>
                <args>
                    <module>Vianetz_AutomaticInvoice</module>
                    <frontName>automaticinvoice</frontName>
                </args>
            </Vianetz_AutomaticInvoice>
        </routers>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <Vianetz_AutomaticInvoice/>
            </modules>
        </suite>
    </phpunit>
</config>
