<?xml version="1.0"?>
<config>
	<modules>
		<Vianetz_Core>
			<version>1.0.2</version>
		</Vianetz_Core>
	</modules>
	<global>
		<models>
        	<vianetz_core>
        		<class>Vianetz_Core_Model</class>
        	</vianetz_core>
        </models>
        <helpers>
        	<vianetz_core>
        		<class>Vianetz_Core_Helper</class>
        	</vianetz_core>
        </helpers>
        <blocks>
          <vianetz_core>
            <class>Vianetz_Core_Block</class>
            </vianetz_core>
        </blocks>
  	</global>
	<default>
		<vianetz_core>
			<settings>
                <enabled>0</enabled>
                <feedurl>www.vianetz.com/magento-rss.php</feedurl>
			</settings>
		</vianetz_core>
	</default>
	<adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <vianetz_core>
                        <type>singleton</type>
                        <class>vianetz_core/feed</class>
                        <method>observe</method>
                    </vianetz_core>
                </observers>
            </controller_action_predispatch>
        </events>
</adminhtml>
<frontend>
   <routers>
      <Vianetz_Core>
        <use>standard</use>
        <args>
          <module>Vianetz_Core</module>
          <frontName>vianetz_core</frontName>
        </args>
      </Vianetz_Core>
    </routers>
    </frontend>
      <admin>
      <routers>
         <adminhtml>
            <args>
               <modules>
                 <vianetz_core before="Mage_Adminhtml">Vianetz_Core</vianetz_core>
               </modules>
            </args>
         </adminhtml>
    </routers>
    </admin>
</config>
