<?xml version="1.0"?>
<config>
    <modules>
        <Demac_Optimal>
            <version>0.4.3</version>
        </Demac_Optimal>
    </modules>

    <adminhtml>
        <layout>
            <updates>
                <optimal module="dcp">
                    <file>optimal.xml</file>
                </optimal>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <optimal module="optimal">
                    <file>optimal.xml</file>
                </optimal>
            </updates>
        </layout>
        <routers>
            <optimal>
                <use>standard</use>
                <args>
                    <module>Demac_Optimal</module>
                    <frontName>optimal</frontName>
                </args>
            </optimal>
        </routers>
        <frontend>
            <translate>
                <modules>
                    <translations>
                        <files>
                            <default>Demac_Optimal.csv</default>
                        </files>
                    </translations>
                </modules>
            </translate>
        </frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <optimal_hosted_order_after>
                        <type>singleton</type>
                        <class>Demac_Optimal_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </optimal_hosted_order_after>
                </observers>
            </sales_order_place_after>
        </events>
        <routers>
            <customer>
                <args>
                    <modules>
                        <optimal before="Mage_Customer">Demac_Optimal_Frontend</optimal>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <optimal_create_profile>
                    <to_order_payment>*</to_order_payment>
                </optimal_create_profile>
                <optimal_profile_id>
                    <to_order_payment>*</to_order_payment>
                </optimal_profile_id>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <optimal>
                <class>Demac_Optimal_Model</class>
                <resourceModel>optimal_mysql4</resourceModel>
            </optimal>
            <optimal_mysql4>
                <class>Demac_Optimal_Model_Mysql4</class>
                <entities>
                    <risk>
                        <table>demac_optimal_risk</table>
                    </risk>
                    <profile>
                        <table>demac_optimal_profile</table>
                    </profile>
                    <creditcard>
                        <table>demac_optimal_creditcard</table>
                    </creditcard>
                    <merchant_customer>
                        <table>demac_optimal_merchant_customer</table>
                    </merchant_customer>
                    <errorcode>
                        <table>demac_optimal_error_code</table>
                    </errorcode>
                </entities>
            </optimal_mysql4>
            <sales>
                <rewrite>
                    <order>Demac_Optimal_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <optimal>
                <class>Demac_Optimal_Block</class>
            </optimal>
            <customer>
                <rewrite>
                    <account_navigation>Demac_Optimal_Block_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <optimal>
                <class>Demac_Optimal_Helper</class>
            </optimal>
        </helpers>
        <resources>
            <optimal_setup>
                <setup>
                    <module>Demac_Optimal</module>
                    <class>Demac_Optimal_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </optimal_setup>
            <optimal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </optimal_write>
            <optimal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </optimal_read>
        </resources>
        <events>
            <order_unhold_after>
                <observers>
                    <optimal_hosted_order_unhold_after>
                        <type>singleton</type>
                        <class>Demac_Optimal_Model_Observer</class>
                        <method>orderUnoldAfter</method>
                    </optimal_hosted_order_unhold_after>
                </observers>
            </order_unhold_after>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <optimal before="Mage_Adminhtml">Demac_Optimal_Adminhtml</optimal>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>


    <!-- declare default configuration values for this module -->
    <default>
        <!-- 'payment' configuration section (tab) -->
        <payment>
            <!-- 'newmodule' configuration group (fieldset) -->
            <optimal_hosted>
                <!-- by default this payment method is inactive -->
                <active>1</active>
                <useccv>1</useccv>
                <!-- model to handle logic for this payment method -->
                <model>optimal/method_hosted</model>
                <!-- order status for new orders paid by this payment method -->
                <order_status>pending</order_status>
                <!-- default title for payment checkout page and order view page -->
                <title>Optimal Payments (Hosted)</title>
                <payment_action>authorize</payment_action>
                <cctypes>AE,VI,MC,DI</cctypes>
                <!--<payment_action>authorize</payment_action>-->
                <allowspecific>0</allowspecific>
            </optimal_hosted>
            <optimal_profiles>
                <profile_key>mage</profile_key>
            </optimal_profiles>
        </payment>
    </default>
</config>
