<?xml version="1.0"?>
<config>
    <modules>
        <SM_CustomWidget>
            <version>0.1.0</version>
        </SM_CustomWidget>
    </modules>
    <frontend>
        <routers>
            <customwidget>
                <use>standard</use>
                <args>
                    <module>SM_CustomWidget</module>
                    <frontName>customwidget</frontName>
                </args>
            </customwidget>
        </routers>
        <layout>
            <updates>
                <customwidget>
                    <file>customwidget.xml</file>
                </customwidget>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <customwidget>
                <class>SM_CustomWidget_Helper</class>
            </customwidget>
        </helpers>
        <blocks>
            <customwidget>
                <class>SM_CustomWidget_Block</class>
            </customwidget>
        </blocks>
        <models>
            <customwidget>
                <class>SM_CustomWidget_Model</class>
            </customwidget>
        </models>
    </global>
</config> 
